# Ignore SQLite database file
gantt.db

# Ignore Python bytecode and cache
__pycache__/
*.pyc

# Ignore PyInstaller build artifacts
dist/
build/
*.spec

# Ignore virtual environment (if used)
venv/
env/

# Ignore logs and temporary files
gantt.log
*.log
/gantt.db
/.vs/gantt_artisan/CopilotIndices/17.13.439.2385/CodeChunks.db
/.vs/gantt_artisan/CopilotIndices/17.13.439.2385/CodeChunks.db-shm
/.vs/gantt_artisan/CopilotIndices/17.13.439.2385/CodeChunks.db-wal
/.vs/gantt_artisan/CopilotIndices/17.13.439.2385/SemanticSymbols.db
/.vs/gantt_artisan/CopilotIndices/17.13.439.2385/SemanticSymbols.db-shm
/.vs/gantt_artisan/CopilotIndices/17.13.439.2385/SemanticSymbols.db-wal
/.vs/gantt_artisan/FileContentIndex/5bb0bbf6-ec22-42d6-9fd4-639e583a20af.vsidx
/.vs/gantt_artisan/FileContentIndex/887ea625-679c-46a5-9e6e-5266f834f614.vsidx
/.vs/gantt_artisan/FileContentIndex/ab9f89fe-489b-4d02-83af-a32d226e80d2.vsidx
/.vs/gantt_artisan/FileContentIndex/b12daa69-5dff-40e2-a22b-3655c536d567.vsidx
/.vs/gantt_artisan/FileContentIndex/f746c103-6fe5-438d-a8c8-f6f4f55230d6.vsidx
/.vs/gantt_artisan/v17/.wsuo
/.vs/gantt_artisan/v17/DocumentLayout.backup.json
/.vs/gantt_artisan/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/gantt_artisan/FileContentIndex/c52b4c88-f7ea-43e3-9846-d029ae0bc8b8.vsidx
